body {
  background-color: #ededed;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
  color: #3c3c3c;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form {
  width: 320px;
  padding: 30px;
  gap: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  background: linear-gradient(145deg, #d5d5d5, #fefefe);
  box-shadow:  17px 17px 33px #c9c9c9, -17px -17px 33px #ffffff;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 20px;
}

.title i {
  font-size: 70px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 255px;
  height: 64px;
  position: relative;
}

.form-item i {
  position: absolute;
  top: 60%;
  right: 5%;
  opacity: 0.6;
}

label {
  font-size: 14px;
  font-weight: 700;
}

label:hover{
  cursor: pointer;
}

input {
  height: 40px;
  padding: 12px;
  gap: 8px;
  border: none;
  border-radius: 5px;
  background: #ededed;
  box-shadow: inset 17px 17px 33px #c9c9c9, inset -17px -17px 33px #ffffff;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.invalid:focus {
  background: #ffdbdb;
  box-shadow: inset 5px 5px 10px rgba(255, 0, 0, 0.2), inset -5px -5px 10px #fffcfc;
}

.valid {
  background: #deffdb;
  box-shadow: inset 5px 5px 10px rgb(26, 255, 0, 0.2), inset -5px -5px 10px #fffffc;
}

.expiration-cvv {
  display: flex;
  gap: 24px;
  width: 255px;
}

.expiration-cvv .form-item {
  width: 115px;
}

.confirm-payment button {
  height: 40px;
  background-color: rgb(60, 150, 250);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 700;
}

.confirm-payment button:hover {
  background-color: rgb(0, 119, 255);
  cursor: pointer;
}

.confirm-payment button i {
  position: inherit;
  opacity: 1;
  margin-right: 10px;
}

.confirm-payment label{
  font-size: 12px;
  color: #5c656ea1;
  text-align: center;
}

.footer {
  position: absolute;
  left: 10px;
  bottom: 20px;
}

.message {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 30px;
  gap: 10px;
  display: flex;
  font-weight: 700;
  align-items: center;
  border-radius: 25px;
  background: linear-gradient(145deg, #d5d5d5, #fefefe);
  box-shadow:  17px 17px 33px #c9c9c9, -17px -17px 33px #ffffff;
  animation-duration: 0.5s;
  animation-name: done;
}

.message i {
  color: #77c571;
}

@keyframes done {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}